<div class="w3-panel w3-large">
    {% if username is defined and username is not empty %}
        Welcome, {{ username }}!
    {% endif %}

    {{ form_start( form, { 'action': path('clientname_user_dologin'), 'attr': { 'class': 'col-md-4 col-xs-6 form-search' } } ) }}
        <div class="w3-section">
            <label>Username</label>
            {{ form_widget( form.username, { 'attr': {'class': 'w3-input w3-border', 'placeholder': 'Username'|trans } } ) }}
        </div>
        {{ form_widget( form.save, { 'attr': { 'class': 'hide hidden' } } ) }}
    {{ form_end( form ) }}
</div>
