{{ date().timestamp }}

{% if searchHits is defined and searchHits is not empty %}
    {% set counter = 0 %}

    {% for searchHit in searchHits %}
        {% if counter is divisible by(3) %}
            <div class="w3-row-padding">
        {% endif %}

        <div class="w3-third w3-container w3-margin-bottom">
            {{ ez_render_field(searchHit.valueObject, "image", {"parameters": {"height": "140px", "class": "w3-hover-opacity"} }) }}

            <div class="w3-container w3-white">
                <p><b>{{ ez_field_value(searchHit.valueObject, "title") }}</b></p>
                <p>{{ ez_field_value(searchHit.valueObject, "description") }}</p>
                <p>£{{ ez_field_value(searchHit.valueObject, "price") }}</p>
            </div>
        </div>

        {% set counter = counter + 1 %}

        {% if counter is divisible by(3) %}
            <div class="w3-row-padding">
        {% endif %}
    {% endfor %}
{% endif %}
